/* 
1. 유튜브 상태 동작빼고, 눈으로 보이는 것만 만들어준다 (마우스 올리면 영상 재생 제외) 
2. display flex 찾아서 적용하기 무조건 있어야 구현가능(3가지)
    - 창이 작아지다보면 영상이 아래로 내려감 (기능1)
- 스크롤 내릴 때 위랑 왼쪽 고정 (기능2)
*/

#Top_Menu_Bar {
    display: flex;
    width: 99%;
    height: 50px;
    /* width: 100%;    안해주면 fixed 해줬을 때 붙어서 가운데 정렬 */
    /* position: fixed; */
    /* position: fixed;        스크롤해도 고정 성공(기능2) */
    /* background-color: blueviolet; */
    background-color: white;
    top: 0;
    /* 우리가 알지못하는 css ~~ */
    /* margin-top: 0; 해도 약간 뜨는건 마찬가지*/
    justify-content: space-between;
}


#Navigation_Preimium {
    margin-left: 0.5%;
    width: 11%;
    /* 내 노트북에서 비율 약 10.3% */
}

#Search_Mic {
    display: inline-block;
    width: 39%;
    /* 내 노트북에서 비율 약 38.6% */
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}

#Upload_App_Notification_Account {
    display: flex;
    margin-right: 0.5%;
    width: 11.5%;
    /* 내 노트북에서 비율 약 10.8% */
}

#Line {
    width: 99%;
    height: 15%;
    background-color: lawngreen;
}

#Side_Nav {
    display: flex;
    position: fixed;
    margin-top: 3%;
    width: 14%;
    height: 100%;
    /* background-color: aqua; */
    background-color: white;
}

#Video {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    width: 86%;
    height: 80%;
    margin-top: 3%;
    margin-left: 14%;
    /* background-color: pink; */
    z-index: -1;
}

#Video_Detail {
    font-size: 14px;
    display: flex;
}

#Video_Views {
    font-size: 10px;
    color: gray;
    height: 100px;
    margin-left: 5px;
}

#Video_Title {
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 1px;
}

#Video_Youtuber {
    width: 46px;
    height: 46px;

}

#Video_1 {
    width: 350px;
    height: 205px;
    margin: 20px;
    /* background-color: blue; */
    margin-left: 10px;
    margin-right: 3px;
    margin-bottom: 70px;
    margin-top: 10px;
}

#Video_1_Png {
    width: 95%;
    height: 100%;
}

#Video_2 {
    width: 350px;
    height: 205px;
    margin: 30px;
    /* background-color: red; */
    margin-left: 10px;
    margin-right: 10px;
}