/* 
1. 유튜브 상태 동작빼고, 눈으로 보이는 것만 만들어준다 (마우스 올리면 영상 재생 제외) 
2. display flex 찾아서 적용하기 무조건 있어야 구현가능(3가지)
    - 창이 작아지다보면 영상이 아래로 내려감 (기능1)
- 스크롤 내릴 때 위랑 왼쪽 고정 (기능2)
*/

#Top_Menu_Bar {
    display: flex;
    position: fixed;
    width: 99%;
    background-color: white;
    top: 0;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

#Navigation_Premium {
    display: flex;
    /* height: 47px; */
}

/* #Navigation {
    height: 47px;
}

#Premium {
    height: 47px;
} */

#Search_Mic {
    display: flex;
    /* height: 47px; */
}

#Search {
    width: 480px;
    height: 30px;
    margin-top: 5px;
}

/* #Glass {
    height: 47px;
}

#Mic {
    height: 47px;
} */

#Upload_App_Notification_Account {
    display: flex;
    /* height: 47px; */
}

/* #Upload {
    height: 47px;
}

#App {
    height: 47px;
}

#Notification {
    height: 47px;
}

#Account {
    height: 47px;
} */


/* #Container {
    display: flex;
    flex-direction: column;
} */

#Bottom_Container {
    display: flex;
}

#Side_Nav {
    margin-top: 40px;
    /* top: 0; */
    /* flex-basis: 215px;
    flex-shrink: 0; */
    width: 215px;
    height: 1000px;
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#Video {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-left: 215px;
    /* flex-basis: 215px; */
    /* flex-shrink: 0; */
    /* min-width: 300px;
    flex-direction: row;
    flex-basis: 23.5%; */
}

#Video_Detail {
    width: 23%;
    height: 205px;
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 90px;
    margin-top: 15px;
    /* min-width: 300px;
    display: flex;
    flex-direction: column;
    flex-basis: 23.5%; */
}

#Video_Png {
    width: 100%;
    /* height: 100%; */
}

#Video_Information_Detail {
    font-size: 14px;
    display: flex;
}

#Video_Title {
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 1px;
}

#Video_Views {
    font-size: 10px;
    color: gray;
    /* height: 100px; */
    margin-left: 5px;
}

#Video_Youtuber {
    width: 46px;
    height: 46px;

}

/* @media (max-width: 1709px) {
    #Video_Detail {
        width: 23%;
    }
} */

@media (max-width: 1340px) {
    #Video_Detail {
        width: 30.5%;
    }
}

@media (max-width: 1026px) {
    #Video_Detail {
        width: 46%;
    }
}

@media (max-width: 720px) {
    #Video_Detail {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    #Search_Mic {
        display: none;
    }
}

/* 
미디어 쿼리는 몰아서 파일에 아래에 적어준다 ! 
고해상도 360px
저해상도 411px
모바일은 이 사이 범위
범위 기준으로 나누어준다.
*/